<div>
  <div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/banner.jpg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/greenTea.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/banner2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="text-center m-5 p-3" >
    <h3 class="display-5">🌱AgroBet🌱</h3>
    <p class="display-7">"India’s largest Agri Inputs Marketplace Platform providing Agricultural Machinery, Agriculture Equipment, Agricultural Products, Poultry Equipment, Chemical Pesticides, Organic Insecticides, etc. Our clientele includes Farmers, Nurseries, FPOs, NGOs and other Institutional Growers".</p> 
  </div>
</div>
