<div class="row m-5 rounded shadow">
    <!-- <div class="rounded shadow"><p>this is some div</p></div> -->
    <nav class="navbar navbar-expand-lg navbar-light rounded-top bg-success-subtle p-4 fs-5">
        <div>
            <button class="navbar-toggler mr-2 " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img class="my-2 my-lg-0" src="/img/hamburger.png" style="width: 2rem;" alt="">
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            
            <ul class="navbar-nav  nav-underline">
            <a href="/" class="img-fluid">
                <img src="/img/agrobet.png" style="width: 200px;" alt="user_Login">
            </a>    
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Our Products
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="products">Insecticides</a></li>
                      <li><a class="dropdown-item" href="products">Pesticides</a></li>
                      <li><a class="dropdown-item" href="products">Herbicides</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
                
            </ul>
            <a href="user" class="img-fluid ">
                <img src="/img/userLogin.png" style="width: 50px;" alt="user_Login">
            </a>
        </div>
    </nav>

<%if(message){%>
    <div class="alert alert-<%-message.type%> alert-dismissible fade show" role="alert">
        <span><%-message.message%></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>s
    </div>
<%}%>